.App {
  text-align: left;
}

h1 {
  text-align: center;
  border: 5px solid rgba(255, 0, 0, 20%);
  padding: 10px;
  border-radius: 20px;
}

h2 {
  text-align: center;
  border: 5px solid rgba(255, 0, 0, 20%);
  padding: 10px;
  border-radius: 20px;
}

.footer {
  margin-top: 30px;
  text-align: center;
}

a:link.linkHover, a:visited.linkHover {
  color: red;
  text-decoration: none;
  border-radius: 10px;
}

a:hover.linkHover, a:active.linkHover {
  background-color: #cdcdcd80;
  border-radius: 10px;
  text-decoration: none;
}